<div class="jumbutron text-center">
  <button class="btn btn-success btn-lg" (click)="tirarDados()">
    Tirar dados
  </button>
  <br>
  <div class="imagen">
    <img class="img" [src]="dadoIzquierda">
    <img class="img" [src]="dadoDerecha">
  </div>
  

  <h1 *ngIf="num1 === num2">
    <span class="badge badge-success">Ganaste!!</span>
  </h1>
  <!-- <h1>
    <div *ngIf="num1 === num2; then thenBlock else elseBlock"></div>
    <span class="badge badge-success">
      <ng-template #thenBlock>Ganaste!!</ng-template>
    </span>
    <span class="badge badge-danger">
      <ng-template #elseBlock>Perdiste!!</ng-template>
    </span>
  </h1> -->
</div>